# =====================================================
# Airflow Dependencies
# =====================================================

# Airflow Providers
apache-airflow-providers-amazon
apache-airflow-providers-cncf-kubernetes

# Great Expectations
great-expectations

# Data Processing
pandas
pyarrow

# AWS SDK
boto3

# TODO: Add more dependencies as needed
typing_extensions
openai
pymilvus
